<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Editar Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="profile">
  <ion-card no-margin>
    <ion-card-content class="bg-profile">
      <img src="assets/img/SGE_logo.png">
      <h1 class="fw500">Édipo Juan Silva</h1>
      <h2 color="light" margin-bottom>Palestrante</h2>
      <ion-button icon-left color="secondary">
        <ion-icon name="photos"></ion-icon>
        Editar / Adicionar Foto
      </ion-button>
    </ion-card-content>

    <ion-grid fixed no-padding>
      <ion-row>
        <ion-col size="12" padding>

          <ion-list margin-bottom>
            <ion-list-header color="light">
              <ion-label class="fw700">Dados Cadastrais</ion-label>
            </ion-list-header>

            <ion-item>
              <ion-label color="dark" position="stacked">Nome completo:</ion-label>
              <ion-input inputmode="text" placeholder="Ex.: Joe Doe" value="Édipo Juan Silva"></ion-input>
            </ion-item>

            <ion-item>
              <ion-label color="dark" position="stacked">Email:</ion-label>
              <ion-input inputmode="email" placeholder="Ex.: joao.silva@tjmt.jus.br" value="edipo.silva@ewave.com.br">
              </ion-input>
            </ion-item>

            <ion-item>
              <ion-label color="dark" position="stacked">Endereço:</ion-label>
              <ion-input inputmode="text" placeholder="Ex.: Av. Pres. Getúlio Vargas, 450"></ion-input>
            </ion-item>

            <ion-item>
              <ion-label color="dark">Cidade</ion-label>
              <ion-select>
                <ion-select-option value="Cuiabá">Cuiabá</ion-select-option>
                <ion-select-option value="Várzea Grande">Várzea Grande</ion-select-option>
                <ion-select-option value="Rondonópolis">Rondonópolis</ion-select-option>
                <ion-select-option value="Sinop">Sinop</ion-select-option>
                <ion-select-option value="São Paulo">São Paulo</ion-select-option>
              </ion-select>
            </ion-item>

            <ion-item>
              <ion-label color="dark">Área</ion-label>
              <ion-select>
                <ion-select-option value="Programação">Programação</ion-select-option>
                <ion-select-option value="Processamento de Dados">Processamento de Dados</ion-select-option>
                <ion-select-option value="Qualidade de Software">Qualidade de Software</ion-select-option>
                <ion-select-option value="Administração de Banco de Dados">Administração de Banco de Dados
                </ion-select-option>
              </ion-select>
            </ion-item>
          </ion-list>

          <ion-list>
            <ion-radio-group>
              <ion-list-header color="light">
                <ion-label class="fw700">Tipo de Usuário</ion-label>
              </ion-list-header>

              <ion-item>
                <ion-label color="primary">Gestor</ion-label>
                <ion-radio slot="start" value="customer" checked></ion-radio>
              </ion-item>

              <ion-item>
                <ion-label color="primary">Palestrante</ion-label>
                <ion-radio slot="start" value="agent"></ion-radio>
              </ion-item>

              <ion-item>
                <ion-label color="primary">Participante</ion-label>
                <ion-radio slot="start" value="agent"></ion-radio>
              </ion-item>
            </ion-radio-group>

            <ion-item>
              <ion-label class="text-1x">Gostaria de receber notificações?</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
          </ion-list>

        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-button size="large" expand="full" color="dark" (click)="sendData()" no-margin>Salvar</ion-button>
  </ion-card>

  <div padding>
    <ion-text color="dark" no-margin>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum odio placeat incidunt nesciunt atque ratione
      quisquam, fugit
      omnis maxime adipisci excepturi dignissimos aliquam asperiores itaque unde sequi? Minus, quia, dolore?
    </ion-text>
  </div>
</ion-content>