<ion-list no-padding no-margin>
  <ion-list-header color="dark">
    <ion-label class="fw700">Notifications</ion-label>
  </ion-list-header>

  <ion-item color="primary" class="text-10">
    <ion-icon name="alert" color="light"></ion-icon>
    <ion-label>Falta 1h para Docker & Kubernetes</ion-label>
  </ion-item>

  <ion-item color="light" class="text-10">
    <ion-icon name="mail-open" color="primary"></ion-icon>
    <ion-label>API JavaScript do WebAssembly</ion-label>
  </ion-item>

  <ion-item color="light" class="text-10">
    <ion-icon name="mail-open" color="primary"></ion-icon>
    <ion-label>ElastiCache para Redis</ion-label>
  </ion-item>

  <ion-item color="primary" class="text-10">
    <ion-icon name="mail" color="light"></ion-icon>
    <ion-label>Como ser Ágil 15/12/2019</ion-label>
  </ion-item>

</ion-list>