<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Configurações</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item class="bg-profile">
    <ion-avatar slot="start">
      <img src="assets/img/SGE_logo.png" class="user-avatar">
    </ion-avatar>
    <ion-label>
      <ion-text color="light">
        <h2>
          <strong>Édipo Juan Silva</strong>
        </h2>
      </ion-text>
      <ion-text color="tertiary">
        <h3>
          edipo.silva@ewave.com.br
        </h3>
      </ion-text>
      <ion-button icon-left size="small" shape="round" color="dark" (click)="editProfile()">
        <ion-icon name="contact"></ion-icon>
        Editar perfil
      </ion-button>
      <ion-button icon-left size="small" shape="round" color="secondary" (click)="logout()">
        <ion-icon name="log-out"></ion-icon>
        deslogar
      </ion-button>
    </ion-label>
  </ion-item>

  <ion-list no-border>
    <ion-list-header>
      <ion-text color="dark">
        <h5>Geral</h5>
      </ion-text>
    </ion-list-header>
    <ion-item>
      <ion-icon name="settings" slot="start" color="primary"></ion-icon>
      <ion-label color="primary">Idioma do aplicativo</ion-label>
      <ion-select [(ngModel)]="lang">
        <ion-select-option *ngFor="let language of languages" [value]="language">{{language}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-icon name="notifications" slot="start" color="primary"></ion-icon>
      <ion-label class="label" color="primary"> Ativar notificações </ion-label>
      <ion-toggle [(ngModel)]="enableNotifications"></ion-toggle>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-list-header>
      <ion-text color="dark">
        <h5>Pagamento</h5>
      </ion-text>
    </ion-list-header>
    <ion-item>
      <ion-icon name="card" slot="start" color="primary"></ion-icon>
      <ion-label color="primary">Método de pagamento</ion-label>
      <ion-select [(ngModel)]="paymentMethod">
        <ion-select-option *ngFor="let method of paymentMethods" [value]="method">{{method}}</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-list-header>
      <ion-text color="dark">
        <h5>Outros</h5>
      </ion-text>
    </ion-list-header>
    <ion-item>
      <ion-icon name="mail" slot="start" color="primary"></ion-icon>
      <ion-label class="label" color="primary">Habilitar tema escuro</ion-label>
      <ion-toggle [(ngModel)]="enablePromo"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-icon name="mail" slot="start" color="primary"></ion-icon>
      <ion-label class="label" color="primary">Acessibilidade</ion-label>
      <ion-toggle [(ngModel)]="enableHistory"></ion-toggle>
    </ion-item>
  </ion-list>
</ion-content>